.page-header {
    height: 30vh;
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #F7F8FA;
}

@media only screen and (min-width: 768px) {
    .page-header {
        background-position: center right;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 60vh;
    }
}